
#key
coincheck_key.php
db_connection.php

#sample
auto_order_eth.php
new_order.php
order_ui.php
order-rate.php
order_open.php
practice_auto_order.php

#org
auto_order.php.org
auto_order_eth.php.org
balance.php.org
rate.php.org

#swp
.auto_order_eth.php.swp
